webapp/HELP.md
webapp/target/
webapp/!.mvn/wrapper/maven-wrapper.jar
webapp/!**/src/main/**
webapp/!**/src/test/**
webapp/lib/**
springboot-rest/HELP.md
springboot-rest/target/
springboot-rest/!.mvn/wrapper/maven-wrapper.jar
springboot-rest/!**/src/main/**
springboot-rest/!**/src/test/**
springboot-rest/lib/**

### STS ###
webapp/.apt_generated
webapp/.classpath
webapp/.factorypath
webapp/.project
webapp/.settings
webapp/.springBeans
webapp/.sts4-cache

### IntelliJ IDEA ###
webapp/.idea
webapp/*.iws
webapp/*.iml
webapp/*.ipr
springboot-rest/.idea
springboot-rest/*.iws
springboot-rest/*.iml
springboot-rest/*.ipr

### NetBeans ###
webapp/nbproject/private/
webapp/nbbuild/
webapp/dist/
webapp/nbdist/
webapp/.nb-gradle/
webapp/build/

### VS Code ###
webapp/.vscode/
